conda-forge::blas=*=openblas
pycrypto
cffi
ipykernel
ipython
jupyter_client
numpy
pandas
numexpr=2.6*
matplotlib
scipy=1.1*
seaborn
scikit-learn=0.20*
scikit-image=0.14*
sympy=1.1*
cython=0.28*
patsy=0.5*
statsmodels=0.9*
cloudpickle=0.5*
dill=0.2*
numba
bokeh
SQLAlchemy>=1.3.0
hdf5=1.10*
h5py
vincent=0.4.*
beautifulsoup4=4.6.*
protobuf=3.*
xlrd
boto3
keras=2.2.*
tensorflow>=1.13.0
pyglet
fastparquet
pyarrow
pyopengl
prettytable
gcsfs
dask[complete]
dask-ml
dask-tensorflow
dask-xgboost
s3fs
simplejson
pymysql
sqlite
google-api-python-client
oauth2client
